*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 111px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}

/** box 2 **/
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}
.add-sec {
    color: white;
    font-size: 1rem;
}
.add-icon {
    display: flex;
    align-items: center;
}

/** box 3**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.sea-select {
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sea-input {
    width: 600px;
}